
$primary-color: #58e1c1;
$base-font-color: #777;
$button-text-color: #fff;
$link-color: #51ddfc;
$default-button-color: #51ddfc;
$error-button-color: #e4757a;
$info-button-color: #927bc1;
$success-button-color: #63cc82;
$warning-button-color: #fd7856;

$breakpoint: 768px;